.btn {
	transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s,
		border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.btn.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn.btn-secondary:hover {
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
}

.btn.btn-secondary:focus,
.btn-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn.btn-secondary.disabled,
.btn-secondary:disabled {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn.btn-secondary:not(:disabled):not(.disabled):active,
.btn.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn.btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #545b62;
	border-color: #4e555b;
}

.btn.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn.btn-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
}

.btn.btn-success {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn.btn-success:hover {
	color: #fff;
	background-color: #218838;
	border-color: #1e7e34;
}

.btn.btn-success:focus,
.btn.btn-success.focus {
	box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn.btn-success.disabled,
.btn.btn-success:disabled {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.btn.btn-success:not(:disabled):not(.disabled):active,
.btn.btn-success:not(:disabled):not(.disabled).active,
.show > .btn.btn-success.dropdown-toggle {
	color: #fff;
	background-color: #1e7e34;
	border-color: #1c7430;
}

.btn.btn-success:not(:disabled):not(.disabled):active:focus,
.btn.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn.btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn.btn-info {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn.btn-info:hover {
	color: #fff;
	background-color: #138496;
	border-color: #117a8b;
}

.btn.btn-info:focus,
.btn.btn-info.focus {
	box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn.btn-info.disabled,
.btn.btn-info:disabled {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.btn.btn-info:not(:disabled):not(.disabled):active,
.btn.btn-info:not(:disabled):not(.disabled).active,
.show > .btn.btn-info.dropdown-toggle {
	color: #fff;
	background-color: #117a8b;
	border-color: #10707f;
}

.btn.btn-info:not(:disabled):not(.disabled):active:focus,
.btn.btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn.btn-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn.btn-warning {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn.btn-warning:hover {
	color: #212529;
	background-color: #e0a800;
	border-color: #d39e00;
}

.btn.btn-warning:focus,
.btn.btn-warning.focus {
	box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn.btn-warning.disabled,
.btn.btn-warning:disabled {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.btn.btn-warning:not(:disabled):not(.disabled):active,
.btn.btn-warning:not(:disabled):not(.disabled).active,
.show > .btn.btn-warning.dropdown-toggle {
	color: #212529;
	background-color: #d39e00;
	border-color: #c69500;
}

.btn.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn.btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn.btn-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn.btn-danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn.btn-danger:hover {
	color: #fff;
	background-color: #c82333;
	border-color: #bd2130;
}

.btn.btn-danger:focus,
.btn.btn-danger.focus {
	box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn.btn-danger.disabled,
.btn.btn-danger:disabled {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.btn.btn-danger:not(:disabled):not(.disabled):active,
.btn.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn.btn-danger.dropdown-toggle {
	color: #fff;
	background-color: #bd2130;
	border-color: #b21f2d;
}

.btn.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn.btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn.btn-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn.btn-light {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn.btn-light:hover {
	color: #212529;
	background-color: #e2e6ea;
	border-color: #dae0e5;
}

.btn.btn-light:focus,
.btn.btn-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn.btn-light.disabled,
.btn.btn-light:disabled {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn.btn-light:not(:disabled):not(.disabled):active,
.btn.btn-light:not(:disabled):not(.disabled).active,
.show > .btn.btn-light.dropdown-toggle {
	color: #212529;
	background-color: #dae0e5;
	border-color: #d3d9df;
}

.btn.btn-light:not(:disabled):not(.disabled):active:focus,
.btn.btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn.btn-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.btn.btn-dark {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn.btn-dark:hover {
	color: #fff;
	background-color: #23272b;
	border-color: #1d2124;
}

.btn.btn-dark:focus,
.btn.btn-dark.focus {
	box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn.btn-dark.disabled,
.btn.btn-dark:disabled {
	color: #fff;
	background-color: #343a40;
	border-color: #343a40;
}

.btn.btn-dark:not(:disabled):not(.disabled):active,
.btn.btn-dark:not(:disabled):not(.disabled).active,
.show > .btn.btn-dark.dropdown-toggle {
	color: #fff;
	background-color: #1d2124;
	border-color: #171a1d;
}

.btn.btn-dark:not(:disabled):not(.disabled):active:focus,
.btn.btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn.btn-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}
