@import "../../../../scss/mixins";

#tsd-react-root {
	div.skill-search {
		background: #eaeaea;
		min-width: 345px;
		max-height: 665px;
		border-radius: 20px;
		padding: 0.5em 1em 0;
		box-shadow: rgba(150, 150, 150, 0.5) 10px 10px 6px 3px;

		#select-techtag-menu {
			margin-bottom: 18px;

			label {
				top: -22px;
			}
			.md-select-field__toggle .md-select-field {
				margin-top: 12px;
			}
		}

		.md-card-title--primary {
			padding-top: 12px;
		}

		.md-text-field-container {
			label {
				line-height: 24px;
			}

			input[type="text"] {
				font-size: 14px;
				padding: 6px;
				margin-top: 36px;
			}
		}

		@include div-select(14px);

		.div-select-container {
			transition-property: height;
			transition-duration: 0.5s;
			transition-timing-function: ease-in-out;
			margin: 18px 0 8px;
		}

		#skill-search-row input {
			display: inline-block;
			width: 85%;
		}

		.search-skills-buttons {
			margin-top: 14px;
			button {
				margin: 0 12px;
			}
		}
	}
}
