// mixins
@import "../../../../scss/_mixins";
@import "../../../../scss/_tsd";

.fs-main {
	display: flex;
	justify-content: space-around;
	padding: 24px;
	max-width: 1300px;
	margin: 24px auto;

	section.skill-crud-form {
		flex-grow: 3;
		max-width: 810px;
		font-size: 14px;
		background: white;
		color: #212529;
		padding: 2em 2em 1em;
		width: 760px;
		margin: 0 auto;

		div[class^="col-"] {
			padding-left: 8px;
			padding-right: 8px;
		}

		h2 {
			margin: 10px 0 20px;
			text-align: center;
		}

		label.col-form-label {
			text-align: right;
		}

		textarea {
			resize: none;
			overflow: auto;
		}

		.tabbed-section {
			margin: 24px 0 36px;
		}

		.skill-related-section {
			margin: 0 0 24px;

			div.row {
				margin: 8px;
			}
			h2 {
				margin-bottom: 4px;
			}

			h2 + p {
				text-align: center;
				padding-top: 0;
				margin-bottom: 20px;
			}

			.related-row {
				margin: 0;

				input {
					margin: 0 4px;
				}
			}
		}
	}
	section.skill-search-container {
		flex-grow: 1;
		max-width: 360px;

		.skill-search {
			position: fixed;
			top: 156;
		}
	}

	@media (max-width: 960px) {
		flex-direction: column;

		section.skill-search-container,
		section.skill-crud-form {
			width: 100%;
			margin: auto;
		}
		section.skill-search-container {
			margin: 2rem auto;
		}
	}
}

.fs-btn-container {
	button {
		margin: 0 1em;
	}
}

.fs-btn-container {
	margin: 20px 0 0 0;
}

.skill-tree-radio {
	text-align: center;

	input {
		margin: 0 2rem;
	}
}

.skill-li {
	margin-left: 1rem;
}
